exportClasses(
              "bayesglm",
              "bayesglm.h"
              )

exportMethods(
              "coefplot",
              "display",
              "se.coef",
              "mcsamp",
              "model.matrix.bayes",
              "sim",
              "sigma.hat",
              "terms.bayes"
              )

export(
       "balanceplot",
       "bayesglm",
       "bayesglm.fit",
       "bayespolr",
       "binnedplot",
       "coefplot",
       "contr.bayes.ordered",
       "contr.bayes.unordered",
       "corrplot",
       "display",  
       "fround",
       "G",
       "go",
       "invlogit",
       "matching", 
       "pfround",
       "rescale",
       "se.coef",
       "se.fixef",
       "se.ranef",
       "sigma.hat",
       "sim",
       "standardize",
       "triangleplot"
)




S3method(print, GO)
